---
layout: layouts/home.njk
navtitle: Home
---

<h1>Take The Sweet Tour!</h1>

<p>Sample each local businesses take on the cinnamon roll as you explore Parowan!</p>

<h2>Cinnamon rolls can be purchased at the following businesses:</h2>

<p style="font-style:italic; margin-left:1em;">(tap the pin for directions, or tap the name for more info)</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
